DATABASE_URL=postgresql://<username>:<password>@localhost:5432/<database>
GROQ_API_KEY=
PROMETHEUS_URL=http://localhost:9090
SIMULATED_API_URL=http://localhost:8001
SLACK_WEBHOOK_URL=
SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
ALERT_EMAIL_TO=
