DATABASE_URL=postgresql://<username>:<password>@localhost:5432/<database>
GROQ_API_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
ALERT_EMAIL_TO=

SLACK_WEBHOOK_URL=

GRAFANA_SMTP_USER=
GRAFANA_SMTP_PASSWORD=